<!DOCTYPE html>
<html lang="en">
<!-- TODO: Mejorar la apariencia grafica de la pagina -->

<head>
  <title>Fourier App</title>
  <meta charset="UTF-8">
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <h1>Welcome to <%= title %>
  </h1>

  <div>
    <p>Debes de arrastrar una imagen en el recuadro especificado (si aparece)</p>
  </div>

  <div class="row">
    <div class="column">
      <p>La imagen de preview</p>
      <div id="imageField" class="imageContainer" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);"
        ondragleave="dragLeaveHandler(event)"></div>
    </div>

    <div class="column">
      <p>Espectro de magnitud de la transformada de la imagen</p>
      <div id="imageResult" style="position: relative;" onmousemove="moveCursor(event)">
      </div>

    </div>
  </div>

  <div class="row">
    <div id="imageSubmission">
    </div>

    <div class="column">
      <p>Resultado de la transformacion</p>
      <div id="filteringResult" style="position: relative;"></div>
      <img id="resultContainer">
    </div>
  </div>

  <div class="cursor"></div>
  <script type="text/javascript" src="/javascripts/script.js"></script>
</body>

</html>
