<!DOCTYPE html>
<html lang="en">
<!-- TODO: Mejorar la apariencia grafica de la pagina -->
<!-- Esto tambien incluye hacer que la pagina sea reactiva hasta cierto punto.   -->

<head>
  <title>Fourier App</title>
  <meta charset="UTF-8">
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <h1>Welcome to <%= title %>
  </h1>

  <div>
    <p>Drag an image to the blue box</p>
  </div>

  <div class="row">
    <div class="column">
      <p>Preview image</p>
      <div id="imageField" class="imageContainer" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);"
        ondragleave="dragLeaveHandler(event)"></div>
    </div>

    <div class="column">
      <p>Scaled magnitude spectrum of the images Fourier transform</p>
      <div id="imageResult" style="position: relative;" onmousemove="moveCursor(event)">
      </div>

    </div>
  </div>

  <div class="row">
    <div id="imageSubmission">
    </div>

    <div class="column">
      <p>Resulting image</p>
      <div id="filteringResult" style="position: relative;"></div>
      <img id="resultContainer">
    </div>
  </div>

  <div class="roundCursor"></div>
  <script type="text/javascript" src="/javascripts/script.js"></script>
</body>

</html>
