body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Zona en donde arrastrar la imagen. */
.imageContainer{
/* #drop_zone { */
  border: 5px solid blue;
  width:  200px;
  height: 100px;
}

.draggedOn{
  background-color:gray;
  opacity:0.4;
}

.roundCursor {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid white;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: 2;
  transform: translate(calc(-50% + 15px), -50%); /* Esto parece ser prescindible */
}
